jenkins-home/.*/
jenkins-home/.*
jenkins-home/analytics-reporting-queue/
jenkins-home/fingerprints/
jenkins-home/support/
jenkins-home/slow-requests/
jenkins-home/monitoring/
jenkins-home/users/
jenkins-home/war/
jenkins-home/messaging/
jenkins-home/tools/
jenkins-home/updates/
jenkins-home/userContent/
jenkins-home/jgroups/
jenkins-home/plugins/*/
jenkins-home/optional-plugins/*/
jenkins-home/queue.xml
jenkins-home/operations-center-cloud.db.*

**/builds/
**/last*
**/nextBuildNumber
**/workspace/
**/workspace@*/
*.bak
*.log
webapps/
